{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Auction Query HUB{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"> Auction Query HUB </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item"> <a class="nav-link" href="{% url 'home' %}"> Home </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'user_list' %}"> Users </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'auction_list' %}"> Auctions </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'analytics' %}"> Analytics </a> </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        {% block css %} {% endblock %}
    </body>
</html>